*.gem
*.rbc
.rvmrc
*.un~
.*.sw[a-z]
.DS_Store
.Spotlight-V100
db/test.sqlite3-journal
development/
.Trashes
._*
.bundle
.config
.sass-cache/
.yardoc
Icon?
InstalledFiles
Session.vim
_yardoc
coverage
db/*.sqlite3
doc/
lib/bundler/man
log/*.log
pkg/
rdoc/
spec/reports
test/tmp
test/version_tmp
tmp/
public/system/avatars
heroku_env.rb
app/views/layouts/header.html
