.cta-box.flagged-jobs
  .cta-title
    Flagged Jobs
  .fixed-height
    %ul
      - current_user.jobs.each do |job|
        %li{ :id => 'flagged-job-'+job.id.to_s }
          %a.unflag-item{ :href => '/jobs/flag/'+job.id.to_s, :data => { :jobid => job.id.to_s} }
          =link_to job.title, job
  .cta-footer
    %a{ :href => '#'}
      Compare flagged jobs

