%script{:type => "text/javascript"}
  =raw @jobs_json.to_json
.wide-column
  = render 'jobsearchbox'
  - if current_user
    = render 'savedsearches'
    = render 'flaggedjobs'

    %br.clearit


    .white-box.recommended-jobs
      .recommended-jobs-title
        Recommended Jobs
      .notification
        The more complete your profile is, the more relevant the Recommended Jobs shown below will be.  Go to
        %a{:href=>'#'}My Profile
        to complete your profile.
      %ol.job-listings
        - @jobs.each do |job|
          %li.job-listing
            .job-heading
              - if @flagged_jobs.include?(job)
                %a.unflag-item{ :href => '/jobs/flag/'+job.id.to_s, :data => { :jobid => job.id.to_s} }
              - else
                %a.flag-item{ :href => '/jobs/flag/'+job.id.to_s, :data => { :jobid => job.id.to_s} }
              %span.job-number
                = @counter = @counter + 1
              %span.job-title-wrapper
                =link_to job.title, job, { :class => 'job-title' }
            %span.job-meta
              =job.company.name
              =job.location.location
              %span.job-aquire
                Acquired on
              =job.date_acquired
              %span.job-aquire
                from 
              %span.job_source{:class=>job.job_source}
                =job.job_source
            - if job.snippet?
              .job-excerpt
                =job.snippet
              

            %br.clearit
      =will_paginate @jobs

#sidebar
  .cta-box.special-cta
    .special-title
      Explore your career options
    .special-copy
      Etiam quis lectus eu sapien porta laoreet. Sed eget ante enim, in placerat nisi.
    %br.clearit
  .cta-box.jobs-applied-for
    .cta-title
      Jobs Applied For
    You haven't applied for any jobs yet.

  .cta-box.map
    %img{ :src => '/images/mockup-map.png' }

%br
