.wide-column
  = render 'jobsearchbox'
  .inner-sidebar
    .filter-box.smart-filter-enable
      %strong
        Smart Filters
      %a{ :href => '#' }What's this?

    .filter-box.basics
      .filter-title
        Basics

    .filter-box.job-type
      .filter-title
        Job Type

    .filter-box.skills
      .filter-title
        Skills
      .filter-footer
        %a{ :href => '#'}Select skills...

    .filter-box.careers
      .filter-title
        Careers
      %ul
        - @careers.each do |career|
          %li= link_to career.title, :q => career.title, :location => params[:near]
      .filter-footer
        %a{ :href => '#'}Select careers...

    .filter-box.companies
      .filter-title
        Companies
      .filter-footer
        %a{ :href => '#'}Select companies...

    .filter-box.industries
      .filter-title
        Industries
      .filter-footer
        %a{ :href => '#'}Select industries...

  .white-box.search-results-wrapper
    .search-results-header
      .search-result-title
        %span
          =@jobs.total_entries
        Jobs Found
      .search-result-sortby
        Sort by:
        %select
          %option{ :value => '1' }
            Relevance
          %option{ :value => '2' }
            Distance
          %option{ :value => '3' }
            Salary
    %ol.job-listings
      = render 'joblisting'
    =will_paginate @jobs

#sidebar
  .cta-box.map
    %img{ :src => '/images/mockup-map.png' }
  - if current_user
    .cta-box.current-search
      .cta-title
        Current Search
      %ul
        %li
          "Nurse" near San Francisco, CA
        %li
          Within 20 miles
        %li
          3 careers select
      .cta-footer
        %a.green-btn{ :href => '#'}
          Save this search
        %a{ :href => '#'}
          What's this?

    = render 'savedsearches'
%br
