.wide-column
  .job-search-box
    = form_tag('/jobs', :method => :get) do
      .search-block
        %label{ :for =>'q' }
          Search for
          %span
            (job title, skills, keywords)
        = text_field_tag :q, params[:q]
      .search-block
        %label{ :for => 'near' }
          Near
          %span
            (address, city, state, or zip code)
        = text_field_tag :location, params[:location]
      .search-btn-block
        = submit_tag 'Search', :class => 'green-btn'
    %br.clear
  .inner-sidebar
    .filter-box.smart-filter-enable
      %strong
        Smart Filters
      %a{ :href => '#' }What's this?

    .filter-box.basics
      .filter-title
        Basics

    .filter-box.job-type
      .filter-title
        Job Type

    .filter-box.skills
      .filter-title
        Skills
      .filter-footer
        %a{ :href => '#'}Select skills...

    .filter-box.careers
      .filter-title
        Careers
      %ul
        %li
          Registered Nurse
          %span.delete-me
        %li
          Occupational Therapist
          %span.delete-me
        %li
          Physical Therapist
          %span.delete-me
      .filter-footer
        %a{ :href => '#'}Select careers...

    .filter-box.companies
      .filter-title
        Companies
      .filter-footer
        %a{ :href => '#'}Select companies...

    .filter-box.industries
      .filter-title
        Industries
      .filter-footer
        %a{ :href => '#'}Select industries...

  .white-box.search-results-wrapper
    .search-results-header
      .search-result-title
        %span
          =@jobs.total_entries
        Jobs Found
      .search-result-sortby
        Sort by:
        %select
          %option{ :value => '1' }
            Relevance
          %option{ :value => '2' }
            Distance
          %option{ :value => '3' }
            Salary
    %ol.job-listings
      - @jobs.each do |job|
        %li.job-listing
          =link_to job.title, job_path(job.id), { :class => 'job-title' }
          %span.job-meta
            =job.company.name
            =job.location.location
            %span.job-aquire
              Acquired on
            =job.date_acquired
          .job-excerpt
            =job.snippet
          -if @flagged_jobs.include?(job)
            %span.unflag-item
              %a{ :href => '/jobs/flag/'+job.id.to_s }
          -else
            %span.flag-item
              %a{ :href => '/jobs/flag/'+job.id.to_s }
          %br.clear
      =will_paginate @jobs

#sidebar
  .cta-box.special-cta
    %span
      Explore your career options
    Etiam quis lectus eu sapien porta laoreet. Sed eget ante enim, in placerat nisi.

  .cta-box.jobs-applied-for
    .cta-title
      Jobs Applied For
    You haven't applied for any jobs yet.

  .cta-box.map
    %img{ :src => '/images/mockup-map.png' }

%br
