<div id="auth_menu">
  <a href="/auth/twitter" class="auth_provider">Twitter</a>

  <a href="/auth/facebook" class="auth_provider">Facebook</a>

  <a href="/auth/linked_in" class="auth_provider">Linked In</a>

</div>
