#home
  - if @authentications
    - unless @authentications.empty?
      %p
        %strong You can sign in to this account using:
      .authentications
        - for authentication in @authentications
          .authentication
            .provider
              = authentication.provider.titleize
            .uid
              = authentication.uid
            = link_to "X", authentication, :confirm => 'Are you sure you want to remove this authentication option?', :method => :delete, :class => "remove"
      .clear
    - else
      %p
        %strong Add another service to sign in with:
  - else
    %p
      %strong Sign in through one of these services:

  %a.auth_provider{:href => "/auth/twitter"} Twitter
  %a.auth_provider{:href => "/auth/facebook"} Facebook
  %a.auth_provider{:href => "/auth/linked_in"} LinkedIn
  .clear
