Flagged Careers

- if current_user
  %ul
    - current_user.careers.each do |career|
      %li
        =link_to career.title, career_path(career.api_safe_onet_code)

=link_to 'Compare flagged careers', #