%script{:type => "text/javascript"}
  var jobs =
  =raw @jobs_json.to_json
  ;
  $(document).ready(function() {setupMap(jobs);});
#home
  .home-welcome
    - if user_signed_in?
      %h2
        Welcome
        = resource.name
      %p
        Why not take a couple minutes to update your profile with your work experience? You can enter both civilian and military experience. When you’re ready to work on your resume, your work experience will be included automatically.

      Enter your work experience now
    - else
      %h1 Welcome!
  %br.clearit

  .wide-column
    .recommended-jobs-title
      New Jobs Posted
    = render 'jobs/jobmap'
    %ol.job-listings
      = render 'jobs/joblisting'
    =will_paginate @jobs

  #sidebar

  %br
