#account
  = render 'users/profile/nav_profile'
  = render 'layouts/account_nav'

  .tab_container
    #basic_info.tab_content
      %h2 Settings#index

      %p Find me in app/views/settings/index.html.haml

      %p Privacy Settings will go here


