<div id="settings">

  <%= render 'users/profile/nav_profile'%>
  <%= render 'layouts/account_nav' %>

  <div class="tab_container">
    <div id="basic_info" class="tab_content">

      <h2>Settings#index</h2>

      <p>Find me in app/views/settings/index.html.erb</p>

      Privacy Settings will go here
    </div>
  </div>
</div>
