<ul>
	<li><%= link_to "Show Resume", :controller => "resume", :action => "index" %></li>
	<li><%= link_to "Edit Resume", :controller => "resume", :action => "edit" %></li>
	<li>Download Resume</li>
	<li>Publish Resume</li>
</ul>