<ul class="tabs">
  <li><%= link_to "Show Resume", :controller => "resume", :action => "index" %></li>
  <li><%= link_to "Edit Resume", edit_resume_path(@user.id) %></li>
  <li>Download Resume</li>
  <li>Publish Resume</li>
</ul>
