%h3 - Languages
.ive-got-a-button-wrapper
  %p= link_to 'Add new language', new_language_path, :class => "add_language add_form_button"
  %br.clearit
  .tab_form
    %ul.languages
      -current_user.languages.each do |language|
        %li
          %span{:class=>"language_#{language.id}"}
            =language.language
            %a{:class=>"language_#{language.id} edit_language"} Edit
            =link_to 'Destroy', language, :confirm => 'Are you sure?', :class=>"delete_link"
          %span{:class=>"edit_language_#{language.id} edit_form"}
            =form_for language, :remote => true, :html => {:class => "edit_language"} do |f|
              =f.text_field :language
              =f.submit :value=>"Edit Language", :class => "green-btn"
    .inline_form
      =form_for @user.languages.new, :remote => true do |f|
        =f.text_field :language
        =f.submit :value=>"Add Language", :class => "green-btn"
        %a{:class=>"cancel_add_language", :href => "#"} Cancel
