%h3 - Languages
.ive-got-a-button-wrapper
  .tab-add-edit
    %span= link_to 'Add new language', new_language_path, :class => "add_language add_form_button"
  %br.clearit
  .tab_form
    %ul.language
      -current_user.languages.each do |language|
        %li
          %div{:class=>"language_#{language.id} display_wrapper"}
            %span
              =language.language
            %a{:class=>"language_#{language.id} edit_link"} Edit
            =link_to 'Destroy', language, :confirm => 'Are you sure?', :class=>"delete_link"
          %div{:class=>"edit_language_#{language.id} edit_form"}
            =form_for language, :remote => true, :html => {:class => "edit_skill"} do |f|
              =f.text_field :language
              =f.submit :value=>"Save", :class => "green-btn"
              %a{:class => 'cancel_edit_button', :href => '#'}Cancel
    .inline_form
      =form_for @user.languages.new, :remote => true do |f|
        =f.text_field :language
        =f.submit :value=>"Add Language", :class => "green-btn"
        %a{:class=>"cancel_form_button", :href => "#"} Cancel
  %script
    var language_meta = { display: ['language'] };