<h2 id="name"><%= @user.name %></h2>

<ul class="profile_nav">
	<li><%= link_to "Edit Profile", edit_user_path(@user.id) %></li>
	<li><%= link_to "Account Settings", :controller => "account", :action => "index" %></li>
	<li><%= link_to "Resume Builder", :controller => "resume", :action => "index" %></li>
</ul>
