%ul.tabs
  %li
    %a{:href =>"#basic_info"} Basic Info
  %li
    %a{:href => "#military_info"} Military Info
  %li
    %a{:href => "#career_survey"} Career Survey
  %li
    %a{:href => "#skills_edu"} Skills &amp; Education
  %li
    %a{:href => "#exp"} Experience
  %li
    %a{:href => "#personal_info"} Personal Info
</ul>
