%ul.tabs
  %li.user-basic
    %a{:href =>"#basic_info"} General Info
  %li.user-military
    %a{:href => "#military_info"} Military Info
  %li.user-survey
    %a{:href => "#career_survey"} Career Survey
  %li.user-skills
    %a{:href => "#skills_edu"} Skills &amp; Education
  %li.user-experience
    %a{:href => "#exp"} Experience
