<ul class="tabs">
	<li><a href="#basic_info">Basic Info</a></li>
	<li><a href="#military_info">Military Info</a></li>
	<li><a href="#career_survey">Career Survey</a></li>
	<li><a href="#skills_edu">Skills & Education</a></li>
	<li><a href="#exp">Experience</a></li>
	<li><a href="#personal_info">Personal Info</a></li>
</ul>

