%h3 - Skills
.ive-got-a-button-wrapper
  .tab-add-edit
    %span= link_to 'Add new skill', new_skill_path, :class => "add_skill add_form_button"
  %br.clearit
  .tab_form
    %ul.skill
      -current_user.skills.each do |skill|
        %li
          %span{:class=>"skill_#{skill.id}"}
            %span
              =skill.skill
            %a{:class=>"skill_#{skill.id} edit_link"} Edit
            =link_to 'Destroy', skill, :confirm => 'Are you sure?', :class=>"delete_link"
          %span{:class=>"edit_skill_#{skill.id} edit_form"}
            =form_for skill, :remote => true, :html => {:class => "edit_skill"} do |f|
              =f.text_field :skill
              =f.submit :value=>"Edit Skill", :class => "green-btn"
    .inline_form
      =form_for @user.skills.new, :remote => true do |f|
        =f.text_field :skill
        =f.submit :value=>"Add Skill", :class => "green-btn"
        %a{:class=>"cancel_form_button", :href => "#"} Cancel
