%h3 - Wars
.ive-got-a-button-wrapper
  .tab-add-edit
    %span= link_to 'Add new war', new_war_path, :class => "add_war add_form_button"
  %br.clearit
  .tab_form
    %ul.war
      -current_user.wars.each do |war|
        %li
          %div{:class=>"war_#{war.id} display_wrapper"}
            %span
              =war.war
            %a{:class=>"war_#{war.id} edit_link"} Edit 
            =link_to 'Destroy', war, :confirm => 'Are you sure?', :class=>"delete_link"
          %div{:class=>"edit_war_#{war.id} edit_form"}
            =form_for war, :remote => true, :html => {:class => "edit_war"} do |f|
              =f.text_field :war 
              =f.submit :value=>"Save", :class => "green-btn"
              %a{:class => 'cancel_edit_button', :href => '#'}Cancel
    .inline_form
      =form_for @user.wars.new, :remote => true do |f|
        =f.text_field :war 
        =f.submit :value=>"Add War", :class => "green-btn"
        %a{:class=>"cancel_form_button", :href => "#"} Cancel
  %script
    var war_meta = { display: ['war'] };