#profile
  =render 'users/profile/nav_profile'
  %br.clearit
  #user-main
    =render 'users/profile/sidebar_nav'
    .tab_container
      #basic_info.tab_content
        %h2 General Info
        - unless @user.authentications.empty?
          = render 'authentications/connect_accounts'
        %br.clearit
        .tab_form
          =render 'users/profile/form'

      #military_info.tab_content
        %h2 Military Info
        %br.clearit
        .tab_form
          =render 'military/form'
        =render 'users/profile/war'
        =render 'users/profile/award'

      #skills_edu.tab_content
        %h2 Skills &amp; Education
        =render "users/profile/education"
        =render "users/profile/skills"
        =render "users/profile/languages"
        =render "users/profile/trainings"
        =render "users/profile/certifications"

      #exp.tab_content
        %h2 Experience
        =render "users/profile/experience"

    %br.clearit

