<h1>Edit Profile</h2>
<ul>
	<li>Edit Profile</li>
	<li>Account Settings</li>
	<li>Resume Builder</li>
</ul>

<h2>Basic Info</h2>
<table>
  <tr>
    <td>
        <%= @user.city %>
    </td>
  </tr>
</table>