<h1>Account#index</h1>
<p>Find me in app/views/account/index.html.erb</p>

<%= render 'users/profile/nav_profile'%>

<ul>
	<li>Account Info</li>
	<li>Privacy Settings</li>
	<li>Email Notification Settings</li>
</ul>

<%= render 'users/registrations/edit'%>

<h2>Account Info</h2>
<p>
  <b>Name:</b>
  <%= @user.full_name %>
</p>
<p>
  <b>Email:</b>
  <%= @user.email %>
</p>
