#account
  =render 'users/profile/nav_profile'
  =render 'layouts/account_nav'

  .tab_container
    #tab_content.basic_info
      %h2 Account Info
      %p Find me in app/views/account/index.html.haml

      = render 'users/registrations/edit'

