#account
  =render 'users/profile/nav_profile'
  %br.clearit
  #user-main
    =render 'layouts/account_nav'
    .tab_container
      #basic_info.tab_content
        %h2 Account Info
        .tab_form
          = render 'users/registrations/edit'
          = render 'authentications/manage_accounts'
        %span.unhappy
          Unhappy?
          = link_to "Cancel my account", registration_path(resource_name), :confirm => "Are you sure?", :method => :delete


    %br.clearit
