<div id="account">
<h1>Account#index</h1>
<p>Find me in app/views/account/index.html.erb</p>

<%= render 'users/profile/nav_profile'%>

<%= render 'layouts/account_nav' %>

<%= render 'users/registrations/edit'%>
</div>
