// Place all the styles related to the account controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body.account {
  // Add the account class to your body tag
  // Then, place scoped styles here.
}