h1.logo{
  float: left;
}

ul.user{
  float: right;
  list-style: none;
  margin: 0 0 2em;
  padding: 1.5em;
  font-size: .75em;
//  display: block;
//  overflow: hidden;
}
ul.user li{
  display: inline;
  padding: 0 1em;
}
ul.nav {
  list-style: none;
  margin: 0 0 2em;
  font-size: 1em;
  padding: 0;
  clear: both;
  float: right;
  display: block;
}
ul.nav li {
  display: inline;
  padding: 0 1em;
}
#home{
  clear:both;
  margin: 0 auto;
}
#sign_in{
  clear:both;
  margin: 0 auto;
}
#profile{
  clear: both;
  margin: 0 auto;
  #name{
    float: left;
  }
  .profile_nav{
    float: right;
    font-size: 1.5em;
    ul{
      list-style: none;
    }
    li{
      display: inline;
      padding: 0 1em;
    }
  }
  .tabs{
    clear: both;
    float: left;
    width: 20%;
    list-style: none;
    li{
      padding: .5em;
      font-weight: bold;
      background-color: gray;
    }
    .active{
      background-color: black;
      color: white;
      a{
        color: white;
      }
    }
    a{
      color: black;
    }
  }
  .tab_container{
    float: right;
    width: 75%;
  }
}
