.industry-box {
	width: 218px;
	float: left;
	font-size: 0.75em;
	font-weight: bold;
	line-height:100%;
	padding:10px;
	color:#666;
}
.left {
	border-right: 1px dotted #999;
	border-bottom: 1px dotted #999;
}
.middle, .center {
	border-right: 1px dotted #999;
	border-bottom: 1px dotted #999;
}
.right{
	border-bottom: 1px dotted #999;
}
.orphan {
	border-right: 1px dotted #999;
	border-bottom:0;
}

#footer .left, #footer .right {
	border:0;
}
.industry-box img {
	float:left;
	margin-right:15px;
}
.industry-box a {
	line-height:100%;
	color:#666 !important;
}
.industry-box-wrapper {
	border-width:2px 2px 2px 2px;
	-moz-border-image: url("/images/nav-border2.png") 2 repeat stretch;
	-webkit-border-image:url("/images/nav-border2.png") 2 repeat stretch;
	border-image:url("/images/nav-border2.png") 2 repeat stretch;
 	margin-bottom: 30px;
	background:transparent !important;
	padding:10px;
}

h2.page-title {
	 color:#315924;
	 font-weight:normal;
	 line-height:100%;
	 margin-bottom:15px;
}

.career-search {
	 float: right;
}
.recommended-career-title {
	font-weight:bold;
	color:#333;
	margin-bottom:15px;
}