// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#home {
  // Add the home class to your body tag
  // Then, place scoped styles here.
}

.home-welcome {
  width: 615px;
  float: left;
  margin: 0 25px 20px 0;
  background:#f7fbff;
  font-size:0.8em;
  color:#333;
  border:2px solid #e1eaf2;
  border-radius: 5px;
  line-height:150%;
  padding:15px;
  
}
.home-welcome h2 {
  margin-bottom:10px;
  font-size:1.25em;
}
.home-welcome p {
  margin-bottom:10px;
}
div.map {
  width:200px;
  height:200px;
  float:right;
}
#map-canvas {
  height:200px;
}