// Place all the styles related to the Jobs controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.job-search-box {
  background:url(/images/box.png) repeat;
  border: 1px solid #CCC;
  width:623px;
  padding: 10px;
  margin-bottom: 15px;
}
.job-search-box label {
  float: left;
  margin-right: 20px;
  padding-bottom: 5px;
  color: #666666;
  font-weight: bold;
  font-size: 0.75em;
}

.job-search-box label span {
  color: #999999;
}

.job-search-box input[type="text"] {
  font-size: 1.10em;
  padding: 2px;
  width: 250px;
}

.search-block {
  float: left;
  width: 260px;
  margin-right:15px;
}

.search-btn-block {
  float: left;
  margin-top: 30px;
}
.saved-searches {
  float: left;
  width: 293px;
  padding: 10px;
  margin-right: 15px;
}
#sidebar .saved-searches  {
  float: left;
  width: 293px;
  padding: 10px;
  margin-right: 0;
}
#sidebar .scroll-on {
  width: 283px;
}
.saved-searches ul {
  list-style: none;
  padding: 0 15px 0 0;
  margin: 0;
}
.saved-searches ul li {
  font-size: 0.7em;
  font-style: italic;
  border-bottom: 1px dotted #999999;
  padding: 5px 0;
  min-height: 35px;
  clear: both;
}
.saved-searches ul li a {
  line-height: 100%;
}
.saved-searches ul li:first-child {
  border-top: 1px dotted #999999;
}
.result-count {
  float: right;
  background-color: #6b8299;
  color: #FFF;
  padding: 1px 4px 1px 3px;
  margin: 5px 0 0 10px;
  display: block;
  border-radius: 8px;
}

.flagged-jobs {
  float: left;
  width: 293px;
  padding: 10px;
}
.flagged-jobs ul {
  list-style: none;
  padding: 0 15px 0 0;
  margin: 0;
}

.flagged-jobs ul li {
  background:url(/images/flag.png) no-repeat 0 10px;
  font-size: 0.7em;
  border-bottom: 1px dotted #999999;
  padding: 5px 10px 5px 20px;
  clear: both;
}
.flagged-jobs ul li a {
  line-height: 100%;
}
.flagged-jobs ul li:first-child {
  border-top: 1px dotted #999999;
}

.flagged-jobs .unflag-item, .delete-search {
  background: url(/images/remove.png) no-repeat right top;
  height:8px;
  width:8px;
  margin: 8px 0 0 10px;
  display: block;
  float: right;
}
.special-cta {
  background:#283e54;
  line-height:120%;
}
.special-cta .special-title {
  float: left;
  width:inherit;
  color:#FFF;
  font-size:1.0em;
}
.special-cta .special-copy {
 float: left;
 width:inherit;
 color:#7a8a99;
 font-size:0.75em;
}
.recommended-jobs {
}
.recommended-jobs-title {
  font-size: 1.0em;
  font-weight: bold;
  color: #333;
  margin-bottom: 20px;
}
.notification {
  border-radius: 5px;
  border: 2px solid #e6d68a;
  background: #ffffe5;
  padding: 15px;
  font-size:0.75em;
  margin-bottom: 15px;
}
ol.job-listings {
  color: #FFF;
  /*margin-left: -35px;*/
  margin:0;
  padding: 0;
  list-style: none;
}
ol.job-listings li {
  border-top: 1px dashed #CCC;
  padding:15px 0 15px 30px;
  background:url(/images/ol-marker.png) no-repeat 0 20px;
  overflow: visible;
  clear: both;
  color: #333;
}
.job-title {
  font-size:1.0em;
  font-weight: bold;
  float: left;
  width: 100%;
}
.job-meta {
  font-size:0.75em;
  color: #4f8c23;
  float: left;
  padding-right:25px;
  line-height:110%;
}
.job-aquire {
  color: #333;
}
.job-number {
  float: left;
  color: #FFF;
  display: block;
  font-size:0.55em;
  margin-left:-34px;
  padding-top:2px;
  text-align:center;
  width:24px;
}
.job-excerpt {
  float: left;
  width: 100%;
  color: #666;
}

.job-listing .job-title-wrapper {
  float: left;
}

.job-listing .flag-item, .job-listing .unflag-item {
  background: url('/images/flagged.png');
  background-position: 0 -12px;
  width: 12px;
  height: 12px;
  float: right;
}

.job-listing .unflag-item {
  background-position: 0 0;
}

.job-listing .flag-item:hover { background-position: 0 0; }
.job-listing .unflag-item:hover { background-position: 0 -12px; }

.job-listing .flag-item  a {
  display: block;
}

/** SEARCH FILTERS **/

.filter-box {
  border-bottom:1px solid #CCC;
  margin-bottom: 15px;
  padding-bottom: 15px;
}
.filter-box a {
  font-size:0.75em;
}
.filter-box ul {
  list-style:none;
  margin:0;
  padding:0;
  color:#333;
}
.filter-box ul li {
  margin-bottom:10px;
  line-height:100%;
}
.filter-box ul li a{
  color:#333;
  width:inherit;
  padding-right: 15px;
  background:url(/images/remove.png) no-repeat top right;
}

#smart-filter {
  display:block;
}
.smart-filter-title span {
  font-weight: bold;
  font-size:1.0em;
  float:left;
  margin:5px 15px 5px 0;  
  line-height:100%;
  
}
.smart-filter-title a {
  float:left;
  font-size:0.75em;
  clear:left;
  line-height:100%;
}
.smart-filter-toggle {
  background:url(/images/filter_onoff.png) no-repeat 0 0;
  clear:left;
  width:86px;
  height:30px;
  border:0;
  margin-top:5px;
  overflow:hidden;
}
.smart-filter-toggle:hover {
  background:url(/images/filter_onoff.png) no-repeat 0 -30px;
}

.filter-title {
  font-size:0.75em;
  color:#999;
  text-transform:uppercase;
}
.filter-footer input[type="text"] {
  width:195px;
}
#search_company_name_contains {
  margin-bottom:12px;
}
.search-result-sortby {
  margin-bottom:15px;
}
.pagination {
  clear: both;
  margin: 15px 0 15px 35px;
  padding: 15px 0; 
}
.previous {
  float: left;
  margin-right: 15px;
}
.next {
  float: left;
  margin-left: 15px;
}
.pagination a:link, .pagination a:visited {
  padding: 5px 7px;
  color: #0073e6
}
.pagination a:hover, .pagination a:active, em.current {
  padding: 5px 7px;
  background: #0073e6;
  color: #FFF;
  text-decoration: none;
}

.inner-sidebar {
  float:left;
  width: 200px;
  padding: 0;
  margin-right: 15px;
  margin-top: 20px;
}

.search-results-wrapper {
  float: left;
  width: 408px;
}

.search-result-title {
  float: left;
}

.search-result-sortby {
  float: right;
}

#map-canvas {
  width: 100%;
  height: 300px;
}

.search-wrapper {
  padding-top: 6px;
}