// Place all the styles related to the registrations controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/** LOG IN PAGE **/

#sign_in_wrapper {
  width:700px;
  position:relative;
  left:50%;
  margin-left:-350px;
  top:15px;
  padding: 15px;
}
#sign_in_wrapper h2 {
  font-size:1.25em;
  font-weight:normal;
  color:#315924;
  margin-bottom: 15px;
}
#sign_in {
  background-color:#FFF;
  padding:15px;
  border:1px solid #CCC;
}
#reg_left {
  float:left;
  width:260px;
  padding:15px 30px;
  margin-right:10px;
  background:#f7fbff;
  font-size:0.7em;
  color:#666;
  border:2px solid #e1eaf2;
  border-radius: 5px;
  line-height:110%;
}
#reg_right {
  float:left;
  width:260px;
  padding:15px 30px;
  margin-left:10px;
  background: #f7f7f7;
  font-size:0.7em;
  color:#666;
  line-height:110%;
}
#reg_right p a {
  font-size:1.0em;
}
#sign_in label {
  float:left;
  color:#999;
  margin:0 10px 5px 0;
}
#sign_in input[type="email"], #sign_in input[type="password"] {
  float:left;
  margin-bottom:15px;
  padding:5px 5px;
  width:250px;
}
#sign_in .green-btn {
  float:right;
  margin-bottom:25px;
  font-size:1.0em;
}
#sign_in strong {
  display:block;
  margin:0 -15px 15px -15px;
  padding:0 15px;
  text-transform:uppercase;
  background:url("/images/footer_bg.png") repeat-x;
  color:#FFF;
  font-size:0.6em;
  width:270px;
}
#sign_in #auth_menu {
  float:right;
  margin-right:33px;
}
#sign_in #auth_menu a {
  float:right;
}
#sign_in img {
  margin:0 0 10px 0;
}
#sign_in #auth_menu a + a {
  padding-top:10px;
  border-top:1px dotted #CCC;
}
a.sign_in, a.forgot_password {
  display: block;
  float: left;
  font-size: 0.75em;
  line-height: 100%;
  text-align:left;
  margin:12px 15px 0 0;
}
a.sign_in {
  margin-bottom:10px;
}

/***  SIGN UP PAGE  ***/

#sign_up_wrapper {
  width:700px;
  position:relative;
  left:50%;
  margin-left:-350px;
  top:15px;
  padding: 15px;
}
#sign_up_wrapper h2 {
  font-size:1.25em;
  font-weight:normal;
  color:#315924;
  margin-bottom: 15px;
}
#sign_up {
  background-color:#FFF;
  padding:15px;
  border:1px solid #CCC;
}
#reg_top {
  float:left;
  width:630px;
  padding:15px 15px;
  margin-bottom:20px;
  background:#f7fbff;
  font-size:0.7em;
  color:#666;
  border:2px solid #e1eaf2;
  border-radius: 5px;
  line-height:110%;
}
#reg_mid {
  text-align:center;
  border-top:1px dotted #CCC;
  padding:15px 0;
  color:#999;
}
#reg_btm {
  float:left;
  width:610px;
  padding:15px 30px;
  background: #EEE;
  font-size:1.0em;
  color:#666;
  line-height:110%;
}
.reg_field {
  border-bottom:1px solid #CCC;
}
.reg_field span {
  display:block;
  float:left;
  color:#999;
  font-size:0.7em;
  width:180px;
  line-height:150%;
  margin-top:15px;
}
#sign_up label {
  float:left;
  color:#333;
  font-weight:bold;
  text-align:right;
  margin:20px 10px 5px 0;
  width:135px;
  font-size:0.75em;
}
#sign_up input[type="email"], #sign_up input[type="password"], #sign_up input[type="text"] {
  float:left;
  margin: 15px 10px 15px 0;
  padding:5px 5px;
  width:250px;
}
#sign_up .green-btn {
  float:right;
  margin-bottom:25px;
  font-size:1.0em;
}
#sign_up strong {
  display:block;
  margin:0 -15px 15px -15px;
  padding:0 15px;
  text-transform:uppercase;
  background:url("/images/footer_bg.png") repeat-x;
  color:#FFF;
  font-size:0.6em;
  width:270px;
}
#sign_up#auth_menu {
  float:left;
}
#sign_up #auth_menu a {
  float:left;
  margin-right:20px;
}
#sign_up img {
  margin:0 0 10px 0;
}
a.sign_up {
  display: block;
  float: left;
  font-size: 0.75em;
  line-height: 100%;
  text-align:left;
  margin:12px 15px 0 0;
}
a.sign_up {
  margin-bottom:10px;
}
