// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body.users {
  // Add the users class to your body tag
  // Then, place scoped styles here.
}

/** PROFILE NAV **/

#profile h2#name, #account h2#name {
  float:left;
  color:#315924;
  font-weight:normal;
  line-height:100%;
  margin-bottom:15px;
}
ul.profile_nav {
  list-style:none;
  display:block;
  float:right;
  margin:0;
  padding:0;
}
ul.profile_nav li {
  float:left;
  margin-left:5px;
}
ul.profile_nav li a:link, ul.profile_nav li a:visited {
  line-height:100%;
  padding:6px 11px;
}
ul.profile_nav li a:hover, ul.profile_nav li a.active, ul.profile_nav li a:active, ul.profile_nav li.active a:link, ul.profile_nav li.active a:visited  {
  color:#333;
  border-radius: 8px;
  border:1px inset #CCC;
  background:#ECECEC;
  padding:5px 10px;
  text-decoration:none;
}
/** USER MAIN CONTENT AREA **/

#user-main {
  background-color:#FFF;
  padding:30px;
  border:1px solid #CCC;
}
.tab_container {
  float:right;
  width:688px;
}
.tab_container h2 {
  float:left;
  margin-bottom:15px;
  width:100%;
  font-size:1.0em;
  color:#315924;
  font-weight:normal;
  line-height:150%;
  background-color:#FFF;
}
.tab_container h3 {
  float:left;
  margin-bottom:15px;
  width:100%;
  font-size:0.9em;
  color:#666;
  font-weight:normal;
  line-height:150%;
  background-color:#FFF;
}
.tab_form {
  background-color:#ECECEC;
  padding:15px 30px;
  margin-bottom:15px;
  border:1px solid #CCC;
  clear:left;
}
.tab_form .field {
  margin-bottom:15px;
  height:25px;
  clear:both;
}
.tab_form .field label {
  width:105px;
  text-align:right;
  color:#999;
  display:block;
  float:left;
  margin-right:15px;
  font-size:0.75em;
}
.tab_form .field input[type="text"], .tab_form .field input[type="password"], .tab_form .field input[type="email"] {
  float:left;
  width: 240px;
  font-size: 0.8em;
  padding: 2px;
}
.tab_form .label {
  color:#999;
  font-size:0.75em;
  float:left;
  margin-right:15px;
  width:160px;
  text-align:right;
  clear:left;
}
.tab_form .value {
  color:#333;
  font-size:1.0em;
  float:left;
  text-align:left;
}
.tab_content table tr {
  border-bottom:1px solid #CCC;
  padding:0 0 15px 0;
  height:25px;
  clear:both;
}

.field-wrapper {
  float: left;
  width: 300px;
}
.helpful_info { 
  float: left; 
  font-size: 0.75em;
  width: 240px;
  line-height: 1.2em;
  padding: 0 0 5px 10px;
}

#basic_info img {
  float:right;
}

/** SIDEBAR TABS **/

ul.tabs {
  list-style:none;
  margin:0 30px 15px 0;
  padding:0;
  width:200px;
  float:left;
}
ul.tabs li {
  margin:0 0 5px 0;
}
ul.tabs li.user-basic a, ul.tabs li.account-info a {
  background:url(/images/user-basic.png) no-repeat 5px center;
}
ul.tabs li.priv-settings a {
  background:url(/images/user-priv.png) no-repeat 5px center;
}
ul.tabs li.email-settings a {
  background:url(/images/user-email.png) no-repeat 5px center;
}
ul.tabs li.user-military a {
  background:url(/images/user-military.png) no-repeat 5px center;
}
ul.tabs li.user-survey a {
  background:url(/images/user-survey.png) no-repeat 5px center;
}
ul.tabs li.user-skills a {
  background:url(/images/user-skills.png) no-repeat 5px center;
}
ul.tabs li.user-experience a {
  background:url(/images/user-experience.png) no-repeat 5px center;
}
ul.tabs li a {
  display:block;
  font-size:0.75em;
  padding:5px 10px 5px 35px;
  width:160px;
  border-bottom:1px dotted #CCC;
  color:#3d5266;
  margin:0 0 5px 0;
}
ul.tabs li a:hover, ul.tabs li a:active, ul.tabs li.active a:link, ul.tabs li.active a:visited {
  color:#333;
  border-radius: 8px;
  border:1px inset #999;
  background-color:#ECECEC;
  background-position: 4px center;
  text-decoration:none;
  padding:4px 9px 5px 34px;
}

.helpful_info {
  font-size:0.6em;
  color:#666;
}
.unhappy {
  font-size:0.75em;
}

