%h1 Communities

%p Facebook
Connect with Facebook
or
%a{:href => "http://www.facebook.com", :target => "_blank"} sign up for a Facebook Account

%p LinkedIn
Connect with LinkedIn
or
%a{:href => "http://www.linkedin.com", :target => "_blank"} sign up for a LinkedIn Account

%p Twitter
Connect with Twitter
or
%a{:href => "http://www.twitter.com", :target => "_blank"} sign up for a Twitter Account

