%ul.tabs
  %li.account-info
    %a{:href =>"#acc-info"} Account Info
  %li.priv-settings
    %a{:href =>"#priv-settings"} Privacy Settings
  %li.email-settings
    %a{:href =>"#email-settings"} Email Notification Settings
