<ul class="tabs" >
  <li><%= link_to "Account Info", :controller => "account", :action => "index" %></li>
  <li><%= link_to "Privacy Settings", :controller => "settings", :action => "index" %></li>
  <li><%= link_to "Email Notification Settings", :controller => "settings", :action => "index" %></li>
</ul>

