<ul class='nav'>
  <li><%= link_to 'Home', root_path %></li>
  <li><%= link_to "My Profile", users_path %></li>
  <li>Career Research</li>
  <li>Find Jobs</li>
  <li>Communities</li>
  <li>Advice</li>
</ul>
